<h1>Search Results</h1>

<% @results.each_with_index do |result, index| %>
  <section class = "poem-<%= index %>">
    <h3><%= result.title %></h3>
    <p><%= result.author %></p>
    <p><%= result.content %></p>
    <br>
  </section>
<% end %>
